
<%= form_with(model: cliente, local: true) do |form| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row form-group justify-content-center">
    <%= form.label :nome, class: "col-2 col-form-label" %>
    <%= form.text_field :nome, class: "form-control col-4" %>
  </div>

  <div class="actions d-flex justify-content-center">
    <%= form.submit "Salvar", class: "btn btn-outline-success" %>
  </div>
<% end %>

