<h3>Módulos do Cliente</h3>

<p id="notice" class="notifications top-center"><%= notice %></p>
<table class="table table-hove text-left">
  <thead>
    <tr>
      <th>Modulo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cliente_modulos.each do |cliente_modulo| %>
      <tr>
        <td><%= cliente_modulo.modulo.nome %></td>
        <%= render :partial => 'shared/button_index', locals: { show_path: cliente_modulo, edit_path: edit_cliente_modulo_path(cliente_modulo, :cliente => @cliente.id) }%>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @cliente_modulos.count > 5 %>
  <%= render :partial => 'shared/pagination', locals: { collection: @cliente_modulos }%>
<% end %>

<div class="actions d-flex justify-content-center">
    <%= link_to 'Novo Módulo', new_cliente_modulo_path(:cliente => @cliente.id), class: "btn btn-grad bg-grad" %>
</div>