
<h1 class="card-header bg-grad"><%= t('labels.edit')%> Cliente</h1>
<br>
<%= render 'form', cliente: @cliente %>

<%= render 'index_modulos' %>

<br>
<%= render :partial => 'shared/button_show', locals: { path: @cliente } %>
<%= render :partial => 'shared/button_back', locals: { path: clientes_path } %>
