
<h1 class="card-header bg-grad"><%= t('labels.details') %> Cliente</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cliente.nome %>
</p>
<p>
  <strong>Criado em:</strong>
  <%= l @cliente.created_at %>
</p>
<p>
  <strong>Alterado em:</strong>
  <%= l @cliente.updated_at %>
</p>
<%= render :partial => 'shared/button_edit', locals: { path: edit_cliente_path(@cliente) }%>
<%= render :partial => 'shared/button_back', locals: { path: clientes_path }%>
