<div class="row justify-content-center">
  <div class="col-8 ">
    <div class="card border-info">
      <h1 class="card-header bg-info">Detalhes Cliente</h1>
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Nome:</strong>
        <%= @cliente.nome %>
      </p>
      <p>
        <strong>Criado em:</strong>
        <%= @cliente.created_at %>
      </p>
      <p>
        <strong>Alterado em:</strong>
        <%= @cliente.updated_at %>
      </p>
      <%= link_to 'Alterar', edit_cliente_path(@cliente), class: "btn btn-sm btn-outline-warning" %>
      <%= link_to 'Voltar', clientes_path, class: "btn btn-sm btn-outline-secondary" %>
    </div>
  </div>
</div>
