<%= form_with(model: atendimento_chamado, local: true) do |form| %>
  <% if atendimento_chamado.errors.any? %>
    <div id="error_explanation" class="bg-excluir">
      <h2><%= "#{atendimento_chamado.errors.count} #{t('messages.error', count: atendimento_chamado.errors.count)}:" %></h2>

      <ul>
      <% atendimento_chamado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hidden">
    <%= form.label :chamado_id %>
    <%= form.text_field :chamado_id, :value => @chamado_id %>
  </div>

  <div class="hidden">
    <%= form.label :data %>
    <%= form.datetime_select :data %>
  </div>

  <div class="field row form-group justify-content-center">
    <%= form.label :status_id, class: "col-2 col-form-label" %>
    <%= form.collection_select :status_id, @statuses_all, :id, :nome, {}, { class: "form-control col-4" } %>
    <%= render 'shared/invalid_feedback'%>
  </div>

  <div class="field row form-group justify-content-center">
    <%= form.label :usuario_id, class: "col-2 col-form-label" %>
    <%= form.collection_select :usuario_id, @usuarios_all, :id, :nome, {}, { class: "form-control col-4" } %>
    <%= render 'shared/invalid_feedback'%>
  </div>

  <div class="field row form-group justify-content-center">
    <%= form.label :base_id, class: "col-2 col-form-label" %>
    <%= form.collection_select :base_id, @bases_all, :id, :nome, {}, { class: "form-control col-4" } %>
    <%= render 'shared/invalid_feedback'%>
  </div>

  <div class="field row form-group justify-content-center">
    <%= form.label :descricao, class: "col-2 col-form-label" %>
    <%= form.text_area :descricao, class: "form-control col-4" %>
    <%= render 'shared/invalid_feedback'%>
  </div>

  <div class="actions d-flex justify-content-center">
    <%= form.submit t("buttons.save"), class: "btn btn-grad bg-grad" %>
  </div>
<% end %>
