<h1 class="card-header bg-grad"><%= t('labels.edit')%> Usuário</h1>
<br/>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

  <div class="field row form-group justify-content-center">
    <%= f.label :cliente, class: "col-2 col-form-label" %><br />
    <%= f.text_field :cliente, :value => current_user.cliente.nome, class: "form-control col-4", :readonly => true %>
  </div>

  <div class="field row form-group justify-content-center">
    <%= f.label :tipo_usuario, class: "col-2 col-form-label" %>
    <%= f.text_field :tipo_usuario, :value => current_user.tipo_usuario.tipo, class: "form-control col-4", :readonly => true %>
  </div>

  <div class="field row form-group justify-content-center">
    <%= f.label :nome, class: "col-2 col-form-label" %><br />
    <%= f.text_field :nome, class: "form-control col-4" %>
  </div>

  <div class="field row form-group justify-content-center">
    <%= f.label :cpf, class: "col-2 col-form-label" %><br />
    <%= f.text_field :cpf, class: "form-control col-4" %>
  </div>

  <div class="field row form-group justify-content-center">
    <%= f.label :email, class: "col-2 col-form-label" %><br />
    <%= f.email_field :email, autocomplete: "email", class: "form-control col-4" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field row form-group justify-content-center">
    <%= f.label "Nova senha", class: "col-2 col-form-label", 'aria-describedby': "passwordHelpBlock" %> 
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control col-4" %> 
    <small id="passwordHelpBlock" class="form-text col-10" >(deixe em branco se não quiser alterar) 
    <% if @minimum_password_length %>
      Mínimo <%= @minimum_password_length %> caracteres.
    <% end %>
    </small>
  </div>

  <div class="field row form-group justify-content-center">
    <%= f.label "Confirmação de senha", class: "col-2 col-form-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control col-4" %>
  </div>

  <div class="field row form-group justify-content-center">
    <%= f.label "Senha atual", class: "col-2 col-form-label", 'aria-describedby': "currentPasswordHelpBlock" %> 
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control col-4" %>
    <small id="currentPasswordHelpBlock" class="form-text col-10">(é preciso inserir a senha atual para que a mudança surta efeito)</small>
  </div>

  <div class="actions d-flex justify-content-center">
    <%= f.submit "Salvar", class: "btn btn-grad bg-grad" %>
  </div>
<% end %>

<br/>

<%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete, class: "btn btn-bottom btn-sm btn-excluir bg-excluir" %>
<%= render :partial => 'shared/button_back', locals: { path: :back } %>
