<p id="notice"><%= notice %></p>

<h1>Status Internos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @status_internos.each do |status_interno| %>
      <tr>
        <td><%= status_interno.nome %></td>
        <td><%= link_to 'Show', status_interno %></td>
        <td><%= link_to 'Edit', edit_status_interno_path(status_interno) %></td>
        <td><%= link_to 'Destroy', status_interno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Status Interno', new_status_interno_path %>
