<p id="notice"><%= notice %></p>

<p>
  <strong>Nome arquivo:</strong>
  <%= @anexo_chamado.nome_arquivo %>
</p>

<p>
  <strong>Atendimento chamado status:</strong>
  <%= @anexo_chamado.atendimento_chamado_status %>
</p>

<%= link_to 'Edit', edit_anexo_chamado_path(@anexo_chamado) %> |
<%= link_to 'Back', anexo_chamados_path %>
