<%= form_with(model: contato, local: true) do |form| %>
  <% if contato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contato.errors.count, "error") %> prohibited this contato from being saved:</h2>

      <ul>
      <% contato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="hidden">
    <%= form.label :usuario_id %>
    <%= form.text_field :usuario_id, :value => @usuario_id %>
  </div>

  <div class="field row form-group justify-content-center">
    <%= form.label :tipo_contato_id, class: "col-2 col-form-label" %>
    <%= form.collection_select :tipo_contato_id, @tipo_contato_all, :id, :tipo, {}, { class: "form-control col-4" } %>
  </div>
  
  <div class="field row form-group justify-content-center">
    <%= form.label :contato, class: "col-2 col-form-label" %>
    <%= form.text_field :contato, class: "form-control col-4" %>
  </div>


  <div class="actions d-flex justify-content-center">
    <%= form.submit "Salvar", class: "btn btn-grad bg-grad"%>
  </div>
<% end %>
