
<h1 class="card-header bg-grad">Contatos</h1>

<p id="notice"><%= notice %></p>
<table class="table table-hover text-left">
  <thead>
    <tr>
      <th>Contato</th>
      <th>Tipo contato</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contatos.each do |contato| %>
      <tr>
        <td><%= contato.contato %></td>
        <td><%= contato.tipo_contato.tipo %></td>
        <td><%= contato.usuario.nome %></td>
        <td><%= link_to 'Show', contato %></td>
        <td><%= link_to 'Edit', edit_contato_path(contato) %></td>
        <td><%= link_to 'Destroy', contato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contato', new_contato_path %>
