<h1 class="card-header bg-grad"><%= t('labels.details')%> do Contato</h1>



<p>
  <strong>Usuario:</strong>
  <%= @contato.usuario.nome %>
</p>

<p>
  <strong>Tipo contato:</strong>
  <%= @contato.tipo_contato.tipo %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @contato.contato %>
</p>

<p>
<strong>Criado em:</strong>
<%= l @contato.created_at %>
</p>

<p>
<strong>Atualizado em:</strong>
<%= l @contato.updated_at %>
</p>


<%= render :partial => 'shared/button_edit', locals: { path: edit_contato_path(@contato, :usuario => @contato.usuario.id) }%>
<%= render :partial => 'shared/button_back', locals: { path: edit_usuario_path(@contato.usuario) } %>
