<h1 class="card-header bg-grad"><%= t('labels.details') %> do Módulo</h1>



<p>
  <strong>Nome:</strong>
  <%= @modulo.nome %>
</p>

<p>
  <strong>Criado em:</strong>
  <%= @modulo.created_at.to_s(:custom_datetime) %>
</p>

<p>
  <strong>Alterado em:</strong>
  <%= @modulo.updated_at.to_s(:custom_datetime) %>
</p>


<%= render :partial => 'shared/button_edit', locals: { path: edit_modulo_path(@modulo) }%>
<%= render :partial => 'shared/button_back', locals: { path: modulos_path }%>
