<h1 class="card-header bg-grad">Detalhes do Módulo</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @modulo.nome %>
</p>

<p>
  <strong>Criado em:</strong>
  <%= @modulo.created_at %>
</p>

<p>
  <strong>Alterado em:</strong>
  <%= @modulo.updated_at %>
</p>


<%= link_to 'Alterar', edit_modulo_path(@modulo), class: "btn btn-bottom btn-sm btn-grad bg-grad" %>
<%= link_to 'Voltar', modulos_path, class: "btn btn-bottom btn-sm btn-voltar bg-voltar" %>
