<%= form_with(model: cliente_modulo, local: true) do |form| %>
  <% if cliente_modulo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente_modulo.errors.count, "error") %> prohibited this cliente_modulo from being saved:</h2>

      <ul>
      <% cliente_modulo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row form-group justify-content-center">
    <%= form.label :cliente_id, class: "col-2 col-form-label" %>
    <%= form.collection_select :cliente_id, @clientes_all, :id, :nome, {}, class: "form-control col-4"  %>
  </div>

  <div class="field row form-group justify-content-center">
    <%= form.label :modulo_id, class: "col-2 col-form-label" %>
    <%= form.collection_select :modulo_id, @modulos_all, :id, :nome, {}, class: "form-control col-4"  %>
  </div>

  <div class="actions d-flex justify-content-center">
    <%= form.submit "Salvar", class: "btn btn-grad bg-grad" %>
  </div>
<% end %>
