<h1 class="card-header bg-grad"> Detalhes do Cliente Modulo</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @cliente_modulo.cliente.nome %>
</p>

<p>
  <strong>Modulo:</strong>
  <%= @cliente_modulo.modulo.nome %>
</p>

<p>
  <strong>Criado em:</strong>
  <%= @cliente_modulo.created_at %>
</p>

<p>
  <strong>Alterado em:</strong>
  <%= @cliente_modulo.updated_at %>
</p>

<%= link_to 'Alterar', edit_cliente_modulo_path(@cliente_modulo), class: "btn btn-bottom btn-sm btn-grad bg-grad" %>
<%= link_to 'Voltar', cliente_modulos_path, class: "btn btn-bottom btn-sm btn-voltar bg-voltar" %>
