<h1 class="card-header bg-grad"><%= t('labels.details') %> do Cliente Modulo</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @cliente_modulo.cliente.nome %>
</p>

<p>
  <strong>Modulo:</strong>
  <%= @cliente_modulo.modulo.nome %>
</p>

<p>
  <strong>Criado em:</strong>
  <%= @cliente_modulo.created_at %>
</p>

<p>
  <strong>Alterado em:</strong>
  <%= @cliente_modulo.updated_at %>
</p>

<%= render :partial => 'shared/button_edit', locals: { path: edit_cliente_modulo_path(@cliente_modulo) }%>
<%= render :partial => 'shared/button_back', locals: { path: cliente_modulos_path }%>