<%= form_with(model: chamado, local: true) do |form| %>
  <% if chamado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chamado.errors.count, "error") %> prohibited this chamado from being saved:</h2>

      <ul>
      <% chamado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row form-group justify-content-center">
    <%= form.label :usuario_id, class: "col-2 col-form-label" %>
    <%= form.collection_select :usuario_id, @usuarios_all, :id, :nome, {}, class: "form-control col-4"  %>
  </div>

  <div class="field row form-group justify-content-center">
    <%= form.label :data_abertura, class: "col-2 col-form-label" %>
    <%= form.datetime_select :data_abertura, class: "form-control col-4" %>
  </div>

  <div class="field row form-group justify-content-center">
    <%= form.label :modulo_id, class: "col-2 col-form-label" %>
    <%= form.collection_select :modulo_id, @modulos_all, :id, :nome, {}, class: "form-control col-4" %>
  </div>

  <div class="field row form-group justify-content-center">
    <%= form.label :tipo_chamado_id, class: "col-2 col-form-label" %>
    <%= form.collection_select :tipo_chamado_id, @tipo_chamados_all, :id, :tipo, {}, class: "form-control col-4" %>
  </div>

  <div class="field row form-group justify-content-center">
    <%= form.label :prioridade_id, class: "col-2 col-form-label" %>
    <%= form.collection_select :prioridade_id, @prioridades_all, :id, :nome, {}, class: "form-control col-4" %>
  </div>

  <div class="actions d-flex justify-content-center">
    <%= form.submit "Salvar", class: "btn btn-grad bg-grad" %>
  </div>
<% end %>
