<p>
  <strong>Chamado:</strong>
  <%= atendimento.chamado.numerador %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= atendimento.user.nome %>
</p>

<p>
  <strong>Status:</strong>
  <%= atendimento.status.nome %>
</p>

<p>
  <strong>Base:</strong>
  <%= atendimento.base.nome %>
</p>


<p>
  <strong>Descricao:</strong>
  <%= atendimento.descricao %>
</p>

<p>
  <strong>Criado em:</strong>
  <%= l atendimento.data %>
</p>