
<h1 class="card-header bg-grad">Chamados</h1>


<table class="table table-hover text-left">
  <thead>
    <tr>
      <th>Número</th>
      <th>Cliente-Modulo</th>
      <th>Usuario</th>
      <th>Prioridade</th>
      <th>Tipo chamado</th>
      <th>Data abertura</th>
      <th>Data fechamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chamados.each do |chamado| %>
      <tr>
        <td><%= chamado.numerador %></td>
        <td><%= chamado.cliente_modulo.options_select %></td>
        <td><%= chamado.usuario.nome %></td>
        <td><%= chamado.prioridade.nome %></td>
        <td><%= chamado.tipo_chamado.tipo %></td>
        <td><%= chamado.data_abertura %></td>
        <td><%= chamado.data_fechamento %></td>
        <%= render :partial => 'shared/button_index', locals: { show_path: chamado, edit_path: edit_chamado_path(chamado) }%>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @chamados.count > 10 %>
  <%= render :partial => 'shared/pagination', locals: { collection: @chamados }%>
<% end %>

<%= render :partial => 'shared/button_new', locals: { path: new_chamado_path, text: ' Chamado' }%>