
<h1 class="card-header bg-grad">Chamados</h1>

<p id="notice"><%= notice %></p>
<table class="table table-hover text-left">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Data abertura</th>
      <th>Data fechamento</th>
      <th>Modulo</th>
      <th>Tipo chamado</th>
      <th>Prioridade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chamados.each do |chamado| %>
      <tr>
        <td><%= chamado.usuario.nome %></td>
        <td><%= chamado.data_abertura %></td>
        <td><%= chamado.data_fechamento %></td>
        <td><%= chamado.modulo.nome %></td>
        <td><%= chamado.tipo_chamado.tipo %></td>
        <td><%= chamado.prioridade.nome %></td>
        <td><%= link_to 'Detalhes', chamado, class: "btn btn-sm btn-grad bg-grad" %></td>
        <td><%= link_to 'Alterar', edit_chamado_path(chamado), class: "btn btn-sm btn-grad bg-grad" %></td>
        <td><%= link_to 'Excluir', chamado, class: "btn btn-sm btn-excluir bg-excluir", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Chamado', new_chamado_path, class: "btn btn-bottom btn-grad bg-grad" %>
