<h1 class="card-header bg-grad"><%= t('labels.details') %> do Chamado</h1>

<p id="notice"><%= notice %></p>

<%= render :partial => 'carousel_atendimentos'%>
<%= render :partial => 'shared/button_edit', locals: { path: edit_chamado_path(@chamado) }%>
<%= render :partial => 'shared/button_back', locals: { path: chamados_path }%>
