<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row form-group justify-content-center">
    <%= form.label :nome, class: "col-2 col-form-label" %>
    <%= form.text_field :nome, class: "form-control col-4" %>
  </div>

  <div class="field row form-group justify-content-center">
    <%= form.label :senha, class: "col-2 col-form-label" %>
    <%= form.password_field :senha, class: "form-control col-4" %>
  </div>

  <div class="field row form-group justify-content-center">
    <%= form.label :cpf, class: "col-2 col-form-label" %>
    <%= form.text_field :cpf, class: "form-control col-4" %>
  </div>

  <div class="field row form-group justify-content-center">
    <%= form.label :tipo_usuario_id, class: "col-2 col-form-label" %>
    <%= collection_select :usuario, :tipo_usuario_id, @tipo_usuarios_all, :id, :tipo, {}, class: "form-control col-4" %>
  </div>

  <div class="field row form-group justify-content-center">
    <%= form.label :cliente_id, class: "col-2 col-form-label" %>
    <%= collection_select :usuario, :cliente_id, @clientes_all, :id, :nome, {}, class: "form-control col-4" %>
  </div>

  <div class="actions d-flex justify-content-center">
    <%= form.submit "Salvar", class: "btn btn-grad bg-grad" %>
  </div>
<% end %>
