<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation" class="bg-excluir">
      <h2><%= "#{usuario.errors.count} #{t('messages.error', count: usuario.errors.count)}:" %></h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row form-group justify-content-center">
    <%= form.label :nome, class: "col-lg-2 col-md-12 col-form-label" %>
    <%= form.text_field :nome, class: "form-control col-lg-4 col-sm-8" %>
    <%= render 'shared/invalid_feedback'%>
  </div>

  <div class="field row form-group justify-content-center">
    <%= form.label :password, class: "col-lg-2 col-md-12 col-form-label" %>
    <%= form.password_field :password, class: "form-control col-lg-4 col-sm-8" %>
    <%= render 'shared/invalid_feedback'%>
  </div>

  <div class="field row form-group justify-content-center">
    <%= form.label :password_confirmation, class: "col-lg-2 col-md-12 col-form-label" %>
    <%= form.password_field :password_confirmation, class: "form-control col-lg-4 col-sm-8" %>
    <%= render 'shared/invalid_feedback'%>
  </div>

  <div class="field row form-group justify-content-center">
    <%= form.label :cpf, class: "col-lg-2 col-md-12 col-form-label" %>
    <%= form.text_field :cpf, class: "form-control col-lg-4 col-sm-8" %>
    <%= render 'shared/invalid_feedback'%>
  </div>

  <div class="field row form-group justify-content-center">
    <%= form.label :tipo_usuario_id, class: "col-lg-2 col-md-12 col-form-label" %>
    <%= form.collection_select :tipo_usuario_id, @tipo_usuarios_all, :id, :tipo, {}, class: "form-control col-lg-4 col-sm-8" %>
    <%= render 'shared/invalid_feedback'%>
  </div>

  <div class="field row form-group justify-content-center">
    <%= form.label :cliente_id, class: "col-lg-2 col-sm-12 col-form-label" %>
    <%= form.collection_select :cliente_id, @clientes_all, :id, :nome, {}, class: "form-control col-lg-4 col-sm-8" %>
    <%= render 'shared/invalid_feedback'%>
  </div>

  <div class="actions d-flex justify-content-center">
    <%= form.submit "Salvar", class: "btn btn-grad bg-grad" %>
  </div>
  
<% end %>
