
<h1 class="card-header bg-grad"><%= t('labels.edit')%> Usuário</h1>
<br>
<%= render 'form', usuario: @usuario %>

<%= render 'index_contatos' %>
<br>
<%= render :partial => 'shared/button_show', locals: { path: @usuario } %>
<%= render :partial => 'shared/button_back', locals: { path: usuarios_path } %>

