
<p id="notice"><%= notice %></p>
<div class="text-center">
  <h1>Usuarios</h1>

  <table class="table table-hover text-left">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Senha</th>
        <th>Cpf</th>
        <th>Tipo usuario</th>
        <th>Cliente</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @usuarios.each do |usuario| %>
        <tr>
          <td><%= usuario.nome %></td>
          <td><%= usuario.senha %></td>
          <td><%= usuario.cpf %></td>
          <td><%= usuario.tipo_usuario.tipo %></td>
          <td><%= usuario.cliente.nome %></td>
          <td><%= link_to 'Detalhes', usuario, class: "btn btn-sm btn-outline-info" %></td>
          <td><%= link_to 'Alterar', edit_usuario_path(usuario), class: "btn btn-sm btn-outline-warning" %></td>
          <td><%= link_to 'Excluir', usuario, class: "btn btn-sm btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Novo Usuario', new_usuario_path, class: "btn btn-sm btn-outline-success" %>
</div>
