<div class="row justify-content-center">
    <div class="col-8 ">
      <div class="card border-info">
        <h1 class="card-header bg-info">Detalhes Cliente</h1>

        <p id="notice"><%= notice %></p>

        <p>
          <strong>Nome:</strong>
          <%= @usuario.nome %>
        </p>

        <p>
          <strong>Senha:</strong>
          <%= @usuario.senha %>
        </p>

        <p>
          <strong>Cpf:</strong>
          <%= @usuario.cpf %>
        </p>

        <p>
          <strong>Tipo usuario:</strong>
          <%= @usuario.tipo_usuario.tipo %>
        </p>

        <p>
          <strong>Cliente:</strong>
          <%= @usuario.cliente.nome %>
        </p>

        <p>
          <strong>Criado em:</strong>
          <%= @usuario.created_at %>
        </p>
        <p>
          <strong>Alterado em:</strong>
          <%= @usuario.updated_at %>
        </p>
        <%= link_to 'Alterar', edit_usuario_path(@usuario), class: "btn btn-sm btn-outline-warning" %>
        <%= link_to 'Voltar', usuarios_path, class: "btn btn-sm btn-outline-secondary" %>
    </div>
  </div>
</div>
