
<h1 class="card-header bg-grad"><%= t('labels.details') %> do Usuário</h1>



<p>
    <strong>Nome:</strong>
    <%= @usuario.nome %>
</p>

<p>
    <strong>Cpf:</strong>
    <%= @usuario.cpf %>
</p>

<p>
    <strong>Tipo usuario:</strong>
    <%= @usuario.tipo_usuario.tipo %>
</p>

<p>
    <strong>Cliente:</strong>
    <%= @usuario.cliente.nome %>
</p>

<% @usuario.contatos.each do |contato| %>

    <p>
        <strong><%= contato.tipo_contato.tipo %>:</strong>
        <%= contato.contato %>
    </p>

<% end %>

<p>
    <strong>Criado em:</strong>
    <%= l @usuario.created_at %>
    </p>
<p>
    <strong>Alterado em:</strong>
    <%= l @usuario.updated_at %>
</p>
<%= render :partial => 'shared/button_edit', locals: { path: edit_usuario_path(@usuario) }%>
<%= render :partial => 'shared/button_back', locals: { path: usuarios_path }%>


