<%= form_with(model: atendimento_chamado_status, local: true) do |form| %>
  <% if atendimento_chamado_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(atendimento_chamado_status.errors.count, "error") %> prohibited this atendimento_chamado_status from being saved:</h2>

      <ul>
      <% atendimento_chamado_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :usuario_id %>
    <%= form.text_field :usuario_id %>
  </div>

  <div class="field">
    <%= form.label :status_interno_id %>
    <%= form.text_field :status_interno_id %>
  </div>

  <div class="field">
    <%= form.label :status_externo_id %>
    <%= form.text_field :status_externo_id %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.datetime_select :data %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_area :descricao %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
