<p id="notice"><%= notice %></p>

<h1>Atendimento Chamado Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Status interno</th>
      <th>Status externo</th>
      <th>Data</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atendimento_chamado_statuses.each do |atendimento_chamado_status| %>
      <tr>
        <td><%= atendimento_chamado_status.usuario %></td>
        <td><%= atendimento_chamado_status.status_interno %></td>
        <td><%= atendimento_chamado_status.status_externo %></td>
        <td><%= atendimento_chamado_status.data %></td>
        <td><%= atendimento_chamado_status.descricao %></td>
        <td><%= link_to 'Show', atendimento_chamado_status %></td>
        <td><%= link_to 'Edit', edit_atendimento_chamado_status_path(atendimento_chamado_status) %></td>
        <td><%= link_to 'Destroy', atendimento_chamado_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Atendimento Chamado Status', new_atendimento_chamado_status_path %>
