<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @atendimento_chamado_status.usuario %>
</p>

<p>
  <strong>Status interno:</strong>
  <%= @atendimento_chamado_status.status_interno %>
</p>

<p>
  <strong>Status externo:</strong>
  <%= @atendimento_chamado_status.status_externo %>
</p>

<p>
  <strong>Data:</strong>
  <%= @atendimento_chamado_status.data %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @atendimento_chamado_status.descricao %>
</p>

<%= link_to 'Edit', edit_atendimento_chamado_status_path(@atendimento_chamado_status) %> |
<%= link_to 'Back', atendimento_chamado_statuses_path %>
