<p id="notice"><%= notice %></p>

<h1>Bases</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bases.each do |basis| %>
      <tr>
        <td><%= basis.nome %></td>
        <td><%= link_to 'Show', basis %></td>
        <td><%= link_to 'Edit', edit_basis_path(basis) %></td>
        <td><%= link_to 'Destroy', basis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Basis', new_basis_path %>
