<!DOCTYPE html>
<html>
  <head>
    <title>SdC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="background">
    <%= render partial: "shared/menu" %>
    <div class="text-center">
      <div class="row justify-content-center">
        <div class="conteudo border-info">
          <div class="card-content">
            <%= yield %>
          </div>
          <div class="blur"></div>
        </div>
      </div>
    </div>
    <%= render partial: "shared/footer" %>
  </body>
</html>
